* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

main {
    color: #0000008c;
    margin-bottom: 60px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-titulo {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.container-titulo p {
    margin: 20px 5px;
}

/* INÍCIO DOS ESTILOS DO TOPO */

header {
    background-color: #00cad1;
}

.container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-topo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.links-topo a:hover {
    color: #0000008c;
}

.logo img {
    height: 60px;
}

@media (max-width:425px) {
    .container-topo {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .container-topo .links-topo {
        border-top: 1px solid #0000008c;
        padding: 10px 0;
    }

}
/* FIM DOS ESTILOS DO TOPO */

/* INÍCIO DOS ESTILOS DO RODAPÉ */

footer {
    background-color: #0d6e71;
    padding: 20px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.info-rodapé {
    color: #fff;
    font-size: 18px;
}

.info-rodapé p {
    margin: 15px 0;
}

/* FIM DOS ESTILOS DO RODAPÉ */
